.box-animation {
    visibility: hidden;
}

#text-box {
    display: flex;
    justify-content: center;
    margin: 50px;
    position: relative;
    right: 100px;
   p {
    width: 80vw;
    text-align: center;
   }

}